@import "reset.scss";
@import "global.scss";

.main_page {
    // padding: 10px;
    // height: 100vh;
    .data_tracker {
        // height: 100%;
        // min-height: 900px;
        // width: 100%;
        display: inline-block;
        // background-color: #222;
        position: relative;
        display: block;
        // position: absolute;
        // top: 30px;
        // left: 30px;
        // bottom: 30px;
        // right: 30px;
        margin: auto;
        text-align: center;

        .giver_input {
            display: inline-block;
            margin-top: 100px;
            position: relative;

            input {
                color: #222;
                border: initial;
                padding: 20px;
                background-color: #fff;
                width: 700px;
                font-size: 20px;
                // border-radius: 5px;
                border: 2px solid #888;
                border-bottom: initial;
                // border: 1px solid #e2e2e2;
                // box-shadow: 0px 3px 5px #d4d4d4;
                // font-family: ;

                &::placeholder {
                    color: #8697a5;
                    opacity: 0.5;
                }

                &:focus {
                    border: 2px solid #888;
                    border-bottom: initial;
                    outline: initial;
                }

                &:focus-within {
                    border: 2px solid #888;
                    border-bottom: initial;
                }

                &:active {
                    border: 2px solid #888;
                    border-bottom: initial;
                }
            }

            .giver_total {
                position: absolute;
                right: 10px;
                top: 0px;
                bottom: 0;
                display: flex;
                align-items: center;
            }

            .get_suggestions {
                // background-color: white;
                // box-shadow: 0px 7px 10px #e6e5e5;
                // border-radius: 5px;
                // margin-top: 40px;
                // padding: 10px;
                text-align: left;
                // position: absolute;
                // width: 100%;
                width: 744px;

                .suggestions {
                    // margin-top: 40px;
                    overflow-y: auto;
                    max-height: 300px;
                    border: 2px solid #888;
                    border-top: initial;
                    .suggestion {
                        background-color: #fbfafa;
                        border-top: 1px solid #888;
                        position: relative;
                        // border-radius: 5px;
                        // margin: 10px 0;
                        padding: 20px;
                        text-align: left;
                        cursor: pointer;
                        font-family: $quicksand;
                        width: 100%;
                        // border-top: 2px solid #222;
                        // box-shadow: 0px 7px 10px #e6e5e5;

                        &:hover {
                            background-color: #222;
                            color: white;
                        }

                        &:focus-within {
                            background-color: #222;
                            color: white;
                        }

                        &:focus {
                            background-color: #222;
                            color: white;
                        }
                    }
                }
            }
        }

        .give_types {
            width: 700px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin: 50px auto;
            gap: 10px;

            .give_type {
                // border: 1px solid #dadada;
                height: 70px;
                display: grid;
                grid-template-rows:1fr 1fr;
                // border: 1px solid #222;
                gap:10px;
                // margin: 10px;
                // box-shadow: 0px 7px 10px #dadada7d;

                h4 {
                    // width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    text-align: left;
                    padding-left: 10px;
                    border: 1px solid #dadada;
                    font-weight: 900;
                    border: 1px solid #222;
                }

                input {
                    border: 1px solid #dadada;
                    // border: initial;
                    // border-top: 1px solid #dadada;
                    padding-left: 10px;
                    border: 1px solid #222;
                }
            }
        }
    }

    .check_tables {
        position: relative;
        display: block;
        margin: auto;
        text-align: center;
        margin: 100px 0;
        table {
            width: 80%;
            margin: auto;
            // display: inline-block;

            * {
                border: 1px solid #222;
                padding: 3px;
                padding-left: 5px;
            }

            .inputs {
                padding: initial;

                input {
                    width: 100%;
                    height: 100%;
                    padding: initial;
                    display:table-cell;
                    border: initial;
                    text-align: center;
                    // padding-left: 10px;
                }
            }

            .column1 {
                text-align: left;
            }
        }
    }
} 